<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><% if ( typeof title != 'undefined' ) { %><%= title %> <% } else { %>Nature Language Processing Toolkit<% } %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    * {
        margin:0;
        padding:0;
        box-sizing:border-box;
        outline:none;
    }
    a {
        text-decoration:none;
        color:#0072aa;
    }
    a:hover {
        color:#0090c0;
    }
    body {
        font-family: 'Noto Serif',serif;
    }
    input[name="group"] {
        display:none;
    }
    nav, #wrap, footer {
        width:500px;
        max-width:100%;
        margin:10px auto;
    }
    nav form {
        display:none;
    }
    nav > p {
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    nav label {
        cursor:pointer;
        padding:5px 10px;
        margin-bottom: -1px;
        color: #555;
        margin-right:2px;
    }
    input#f-link:checked ~ p label[for="f-link"],
    input#f-upload:checked ~ p label[for="f-upload"] {
        border-radius: 4px 4px 0 0;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
        background-color:#fff;
        color:#993333;
    }
    input#f-link:checked ~ form#frm-link,
    input#f-upload:checked ~ form#frm-upload {
        display:block;
    }
    form {
        background-color:#f6f8fa;
        padding:10px;
        margin:10px 0;
    }
    form p {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    form input, form button {
        padding:5px 8px;
        color:#24292f;
        border:1px solid #d0d7de;
        border-radius: 6px;
    }
    form input {
        width:80%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right-color:#2da44e;
    }
    form button {
        width:20%;
        border-color:#2da44e;
        background-color:#2da44e;
        color:#fff;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        cursor: pointer;
    }
    input[type="file"] {
        opacity:0;
    }
    form#frm-upload {
        position:relative;
    }
    form#frm-upload:before {
        content:attr(data-filename);
        display:block;
        position:absolute;
        left:10px;
        top: 50%;
        transform: translate(0,-50%);
        color: #888;
        font-size: small;
        white-space: nowrap;
        width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    form#frm-upload button {
        border-radius: 6px;
    }
    <% if (typeof toolkits != 'undefined') { %>
    input[name="toolkit"], aside.rules {
        display:none;
    }
    aside#tools {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    aside label {
        cursor:pointer;
        margin-right:8px;
    }
    aside label:hover {
        color:brown;
    }
    <% toolkits.forEach(function(obj, i) { %>aside label[for="i-<%= obj.name %>"]<% if ( i < toolkits.length - 1 ) { %>, <% } else { %> { <% } %><% }) %>
        font-size:0;
    }
    <% toolkits.forEach(function(obj, i) { %>aside label[for="i-<%= obj.name %>"]:before<% if ( i < toolkits.length - 1 ) { %>, <% } else { %> { <% } %><% }) %>
        content:attr(data-title);
        padding:3px 8px;
        font-size:small;
        border-radius:6px;
        background-color:#eee;
        color:#888;
    }
    <% toolkits.forEach(function(obj, i) { %>input#i-<%= obj.name %>:checked ~ aside label[for="i-<%= obj.name %>"]:before<% if ( i < toolkits.length - 1 ) { %>, <% } else { %> { <% } %><% }) %>
        display:none;
    }
    <% toolkits.forEach(function(obj, i) { %>input#i-<%= obj.name %>:checked ~ aside label[for="i-<%= obj.name %>"]<% if ( i < toolkits.length - 1 ) { %>, <% } else { %> { <% } %><% }) %>
        font-size:small;
        background-color: #eee;
        border:1px solid rgba(27,31,36,.15);
        padding: 3px 8px;
        border-radius: 6px;
    }
    <% toolkits.forEach(function(obj, i) { %>input#i-<%= obj.name %>:checked ~ #area aside#rule-of-<%= obj.name %><% if ( i < toolkits.length - 1 ) { %>, <% } else { %> { <% } %><% }) %>
        display:block;
    }
    .rules button {
        border:1px solid #ccc;
        background-color:#eee;
        border-radius:6px;
        width:100%;
        margin-bottom:5px;
        cursor:pointer;
    }
    .rules span {
        position:relative;
        padding:5px 8px;
        display:block;
        text-align:right;
    }
    .rules span:before {
        content:attr(data-name);
        position:absolute;
        top: 50%;
        transform: translate(0,-50%);
        right:108%;
        padding: 8px;
        background:#242424;
        display:none;
        border-radius:5px;
        white-space: nowrap;
        z-index:100;
    }
    .rules button:hover {
        border-color:#2da44e;
        background-color:#2da44e;
        color:#fff;
    }
    .rules button:hover > span:before {
        display:block;
    }
    aside#rule-of-pos {
        width:28%;
        direction: rtl;
    }
    aside#rule-of-pos button {
        width: 35px;
        display: inline-block;
    }
    #area {
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top:20px;
    }
    .rules {
        width:15%;
    }
    main {
        width:85%;
    }
    input#i-pos:checked ~ #area main {
        width:90%;
    }
    #raw-text {
        min-height: 60px;
        border:1px solid #ddd;
        padding:8px;
        width:98%;
    }
    #download {
        border-radius: 2px;
        border: 0;
        background-color: #2196F3;
        color: #FFF;
        padding: 8px 10px;
        margin-top: 15px;
    }
    #raws {
        padding:15px 0;
    }
    .item {
        width: 30%;
        display: inline-block;
        padding: 3px;
        margin: 0 5px 5px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
    }
    .item:hover {
        background-color:#eee;
    }
    <% } %>
    footer p {
        border-top: 1px solid #ddd;
        font-size:small;
        color:#666;
        padding:10px;
    }
    @media only screen and (max-width: 500px) {
        nav > p {
            padding:0 10px;
        }
        #wrap {
            padding:0 10px;
        }
        form button {
            width:25%;
        }
        <% if (typeof toolkits != 'undefined') { %>
        aside#rule-of-pos {
            width:25%;
        }
        aside#rule-of-pos button {
            width: 46%;
        }
        aside#rule-of-ner, aside#rule-of-sner {
            width:20%;
        }
        <% } %>
    }
    </style>
</head>
<body>
    <nav>
        <input type="radio" name="group" value="link" id="f-link" checked="checked" />
        <input type="radio" name="group" value="upload" id="f-upload" />
        <p>
            <label for="f-link">Liên kết lấy bài</label>
            <label for="f-upload">Tải tập tin</label>
        </p>
        <form action="" method="post" id="frm-link">
            <p>
                <input type="url" name="url" value="" spellcheck="false" autocomplete="off" placeholder="Nhập vào liên kết lấy bài..." />
                <button type="submit">Tải dữ liệu</button>
            </p>
        </form>
        <form action="" method="post" id="frm-upload" data-filename="Chọn tập tin/Kéo thả vào đây" enctype="multipart/form-data">
            <p>
                <input type="file" name="file" />
                <button type="submit">Tải tập tin</button>
            </p>
        </form>
    </nav>
    <div id="wrap">
        <% if (typeof toolkits != 'undefined') { %>
            <% toolkits.forEach(function(obj) { %>
                <input type="radio" name="toolkit" value="<%= obj.name %>" id="i-<%= obj.name %>"<% if ( obj.name == 'sent' ) { %> checked="checked"<% } %> />
            <% }) %>
            <aside id="tools">
            <% toolkits.forEach(function(obj) { %>
                <label for="i-<%= obj.name %>" data-title="<%= obj.alias %>"><%= obj.fullname %></label>
            <% }) %>
            </aside>
            <div id="area">
                <main>
                    <div contenteditable="true" spellcheck="false" id="raw-text"></div>
                    <p>
                        <button id="download">Tải về máy</button>
                    </p>
                    <div id="raws"></div>
                </main>
                <% toolkits.forEach(function(obj) { %>
                    <aside class="rules" id="rule-of-<%= obj.name %>">
                        <% obj.alltags.forEach(function(obj) { %>
                            <button data-cmd="<%= obj.cmd %>"><span data-name="<%= obj.name %>"><%= obj.cmd %></span></button>
                        <% }) %>
                    </aside>
                <% }) %>
            </div>
        <% } %>
    </div> <!-- End #wrap -->
    <footer>
        <p>&copy; 2022<% if ((new Date()).getFullYear() > 2022) { %> - <%= (new Date()).getFullYear() % 100 %><% } %> Trần Ngọc Nhật.</p>
    </footer>
    <script>
    function getJSON(url, data, callback) {
        callback = callback || function(obj) { console.log(obj); };
        var content_type = "application/json";
        if (data instanceof FormData) {
            content_type = "multipart/form-data";
        } else {
            data = JSON.stringify(data);
        }
        fetch(url, {
            method: "post",
            headers: { "Content-Type": content_type },
            body: data
        }).then(function(resp) {
            if (resp.status === 200) {
                return resp.json();
            } else {
                return Promise.reject("server");
            }
        }).then(function(obj) {
            callback(obj);
        }).catch(function(err) {
            callback({
                "error": "Có lỗi trong quá trình gửi dữ liệu"
            })
        });
    }
    function parseResponse(data) {
        var element = document.querySelector('div#raws');
        if (!element) {
            return;
        }
        element.querySelectorAll('div.item').forEach(function(el) {
            el.remove();
        });
        for(var i = 0; i < data.length; i++) {
            var div = document.createElement('div');
            div.id = 'item-' + i.toString();
            div.className = 'item';
            div.setAttribute('data-text', data[i]);
            div.textContent = 'Đoạn ' + (i + 1).toString();
            div.addEventListener('click', function(e) {
                e.preventDefault();
                var text = this.getAttribute('data-text');
                if (text) {
                    var area = document.querySelector('div#raw-text');
                    if (area) {
                        area.textContent = text;
                    }
                }
                return false;
            });
            element.appendChild(div);
        }
    }
    document.addEventListener("DOMContentLoaded", function(e) {
        document.querySelectorAll('nav form').forEach(function(el) {
            el.addEventListener('submit', function(e) {
                e.preventDefault();
                return false;
            });
        });
        document.querySelector('form#frm-upload input[name="file"]').addEventListener('change', function(e) {
            var filename = (this.files[0].name || '').trim();
            if (filename.length > 0) {
                document.querySelector('form#frm-upload').setAttribute('data-filename', filename);
            }
        });
        document.querySelector('form#frm-upload button').addEventListener('click', function(e) {
            e.preventDefault();
            var inp = document.querySelector('form#frm-upload input[name="file"]');
            if (inp && inp.files.length > 0) {
                var data = new FormData();
                data.append("file", inp.files[0]);
                getJSON('/upload', data, function(obj) {
                    if (obj.error !== undefined) {
                        console.log(obj.error);
                    } else {
                        parseResponse(obj);
                    }
                });
            }
            return false;
        });
        document.querySelector('form#frm-link button').addEventListener('click', function(e) {
            e.preventDefault();
            var inp = document.querySelector('form#frm-link input[name="url"]');
            if (inp) {
                var url = inp.value.trim();
                if (url.indexOf('://') == -1) {
                    return false;
                }
                var data = {
                    url : url
                };
                getJSON('/api/fetch', data, function(obj) {
                    if (obj.error !== undefined) {
                        console.log(obj.error);
                    } else {
                        parseResponse(obj);
                    }
                });
            }
            return false;
        });
        document.querySelectorAll('button[data-cmd]').forEach(function(el) {
            el.addEventListener('click', function(e){
                e.preventDefault();
                var command = this.dataset.cmd || null;
                if (command) {
                    console.log(command);
                }
                return false;
            }, false);
        });
    }, false);
    </script>
</body>
</html>
